.small-height {
    height: 14px;
    line-height: 14px;
    overflow-y: scroll;
    height: 200px;
    margin-bottom: 20px;
}
.medium-height{
    height: 14px;
    line-height: 14px;
    overflow-y: scroll;
    height: 400px;
    margin-bottom: 20px;
}

.disabled {
    pointer-events: none;
}

.fadein {
    animation-name: fadein; 
    animation-duration: 2s;  
}

.error {
    color: #cc0000;
}

.info {
    color: #cc9900;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}